
.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    overflow-x: hidden;
}


.Skills {
    width: 100vw;
}

.Contact {
    width: 100vw;
}

.Home {
    width: 100vw;
}

.Summary {
    width: 100vw;
}

